# Core Dependencies
python-dotenv

# LangChain Ecosystem
langchain
langchain-community
langchain-openai
langchain-groq
langchain-google-genai

# Database
sqlalchemy

# Vector Store
faiss-cpu

# Web Interface
streamlit

# Optional: Testing
pytest

pydantic
uvicorn

requests
kagglehub
pathlib
sqlalchemy

